* @Mr.lin
/.github/* @Mr.lin
/.circleci/* @Mr.lin
/CHANGES/* @Mr.lin
/docs/* @Mr.lin
/examples/* @Mr.lin
/requirements/* @Mr.lin
/tests/* @Mr.lin
/tools/* @Mr.lin
/vendor/* @Mr.lin
*.ini @Mr.lin
*.md @Mr.lin
*.rst @Mr.lin
*.toml @Mr.lin
*.txt @Mr.lin
*.yml @Mr.lin
*.yaml @Mr.lin
.editorconfig @Mr.lin
.git* @Mr.lin
Makefile @Mr.lin
setup.py @Mr.lin
setup.cfg @Mr.lin
tox.ini @Mr.lin
